html, body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

#dropdown{
    z-index: -1;
    display: grid;
    grid-template-rows: auto;
    width: 200px;
    height: fit-content;
    background-color: rgb(105, 105, 96);

}

.menuOption{
    display: none;
    color: beige;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-items: center;
}

#option1{
    display: grid;
}

#slider{
    display: grid;
    height: auto;
    width: fit-content;
    grid-template-rows: 5fr 1fr;
}

#currImage{
    grid-row-start: 1;
}

#currImage img{
    height: auto;
    width: 500px;
}

#pictures{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    height: 50px;
    width: 500px;
    grid-row-start: 2;
}

#left{
    grid-column-start: 1;
    display: grid;
    align-items: center;
}

#currPicture{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 200px;
    width: auto;
}

#currPicture img{
    height: 200px;
    width: auto;
}

#right{
    grid-column-start: 8;
    display: grid;
    align-items: center;
}

.pic img{
    height: 50px;
    width: 75px;
}